:root {
  --blue600: #52525b;
  --blue700: #3f3f46;
  --blue800: #27272a;
  --blue900: #18181b;
  --red100: #ffe4e6;
  --red200: #fecdd3;
  --red800: #9f1239;
  --red900: #881337;

  --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);

  --grey100: #f3f4f6;
  --grey200: #e5e7eb;
  --grey300: #d1d5db;
  --grey400: #9ca3af;
  --grey500: #6b7280;

  --grey600: #4b5563;
  --grey700: #374151;
  --grey800: #1f2937;
  --grey900: #111827;
}
